.wrapper-title{
    box-shadow: 0 0 0 1px #CDCDCD;
    height: 36px;
    background: #efefef;
    display: flex;
    align-items: center;
}
.page-title{
    margin: 0;
}
.filter_title{
    text-transform: none;
}